  
* {
    box-sizing: border-box;
    background-color: greenyellow

  }


body, .title {
    text-align: center;
    font-family:'Courier New', fantasy;
}

.ratingImg {
    height: 12px;
}

.hidden {
    display: none;
}

.title {
    font-size: 20px;
    border: 0;
    padding: 0;
    display: block;
}

.bookmark {
    padding: 20px;
    border-color: black;
}

.mainPage {
    font-size: 15px;
}

.create{
    background-color: black;
    color: white;
}
.cancel{
    background-color: black;
    color: white;
}

.delete {
    background-color: darkred;
    color: white;
}

.link {
    background-color: white;
    font-size: 15px;
}

.description {
    border-color: black;
    font-size: 15px;
    width: 200px;
    height: 100px;
    
}

@media only screen and (min-width:700){
    body{
        width: 1000px;
    }
    .context{
    width:100%;
    }
}
@media only screen and (max-width:700){
    body{
        width:100%;
    }

}